{
  "extends": "@atomix/eslint-config",
  "env": {
    "node": true,
    "browser": false
  },
  "rules": {
    "id-match": "off",
    "no-console": "off",
    "no-param-reassign": "off",
    "no-magic-numbers": "off",
    "global-require": "off",
    "unicorn/no-process-exit": "off"
  }
}
